.admin-homepage {
  display: flex;
}

.admin-content {
  width: 100%;
  .admin-header {
    padding: 5px 10px;
    & .default-link {
      text-decoration: none;
      color: black;
    }
  }
  .admin-main {
    padding: 5px 10px;
    border: 1px solid #ccc;
  }
}
